"*":
  "autocomplete-elixir": {}
  "autocomplete-plus":
    fileBlacklist: [
      "*.txt"
      "*.csv"
    ]
  core:
    autoHideMenuBar: true
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "language-ruby-on-rails"
    ]
    projectHome: "/home/jason/Projects"
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "monokai-slate"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "94838d8e-134d-c69d-94d2-31c7b149dcd6"
  "git-plus": {}
  linter: {}
  minimap: {}
  "package-sync":
    createOnChange: true
  pigments: {}
  rspec:
    command: "bundle exec rspec"
  "ruby-test":
    shell: "/bin/zsh"
    specFramework: "rspec"
  "spell-check": {}
  "terminal-plus":
    core: {}
    style: {}
  welcome:
    showOnStartup: false
