"*":
  "autocomplete-elixir": {}
  "autocomplete-plus":
    fileBlacklist: [
      "*.txt"
      "*.csv"
    ]
  "autocomplete-ruby":
    rsensePath: '''
      ~/.rvm/gems/ruby-2.3.0/bin/rsense
      
    '''
  core:
    autoHideMenuBar: true
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "language-ruby-on-rails"
    ]
    projectHome: "/home/jason/Projects"
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "monokai-slate"
    ]
  editor:
    fontSize: 15
    invisibles: {}
  "exception-reporting":
    userId: "94838d8e-134d-c69d-94d2-31c7b149dcd6"
  "git-plus":
    general:
      _analyticsUserId: "72c1114d-b2a7-4afe-b595-26e96184bd57"
  linter: {}
  minimap: {}
  "package-sync":
    createOnChange: true
  pigments: {}
  rspec:
    command: "bundle exec rspec"
  "ruby-test":
    shell: "/bin/zsh"
    specFramework: "rspec"
  "spell-check": {}
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
    style:
      theme: "homebrew"
  welcome:
    showOnStartup: false
