"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "seti-ui"
      "monokai-slate"
    ]
    projectHome: "/home/jason/Projects"
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "language-ruby-on-rails"
    ]
    autoHideMenuBar: true
  editor:
    invisibles: {}
  minimap: {}
  "terminal-plus":
    core: {}
    style: {}
  pigments: {}
  "git-plus": {}
  linter: {}
  rspec:
    command: "bundle exec rspec"
  "ruby-test":
    specFramework: "rspec"
    shell: "/bin/zsh"
  "spell-check": {}
