packages: [
  "atom-monokai"
  "atom-runner"
  "atom-ternjs"
  "autocomplete-elixir"
  "color-picker"
  "git-plus"
  "jekyll"
  "language-elixir"
  "language-liquid"
  "linter"
  "merge-conflicts"
  "minimap"
  "monokai-slate"
  "package-sync"
  "pigments"
  "ruby-test"
  "script-runner"
  "seti-syntax"
  "seti-ui"
  "terminal-plus"
]
